<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <noscript>浏览器暂时不支持javascript</noscript>
    <title>Vue品牌案例</title>
    <div class="app">

        <div>
            <div style="display: inline-block">ID:
                <input type="input" value="id号" class="id" v-model="id">
            </div>
            <div style="display: inline-block">name:
                <input type="input" value="品牌名称" class="name" v-model="name">
            </div>
            <div style="display: inline-block">
                <input type="button" value="增加" class="add" @click="add()">
            </div>
            <div style="display: inline-block">搜索（按名称）
                <input type="input" placeholder="请输入名称name" class="search" v-model="key_words" v-focus>
            </div>
        </div>

        <table class="table table-bordered table-hover table-stiped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>name</th>
                    <th>time</th>
                    <th>operate</th>
                </tr>
                <!-- <tr>
                    <td v-text="outlist.id"></td>
                    <td v-text="outlist.name"></td>
                    <td v-text="outlist.time"></td>
                    <td><a href="#">删除</a></td>
                </tr> -->
            </thead>

            <tbody>
                <!-- <tr v-for="outlist in list" :key="outlist.id">
                    <td v-text="outlist.id"></td>
                    <td v-text="outlist.name"></td>
                    <td v-text="outlist.ctime"></td>
                    <td><a href="" @click.prevent="delet(outlist.id)">删除</a></td>
                </tr> -->
                <!-- 使用search来查询 -->
                <tr v-for="outlist in search(key_words)" :key="outlist.id">
                    <td v-text="outlist.id"></td>
                    <td v-text="outlist.name"></td>
                    <td v-text="outlist.ctime"></td>
                    <td><a href="" @click.prevent="delet(outlist.id)">删除</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</head>

<body>
    <script>
        //自定义指令，这里不用写v-但是调用的时候要加
        Vue.directive('focus',{
            inserted: function(el){
                el.focus()
            }
        })
        var vm = new Vue({
            el: '.app',
            data: {
                id: '',
                name: '',
                key_words: '',
                list: [{
                        id: 1,
                        name: '奔驰',
                        ctime: new Date()
                    },
                    {
                        id: 2,
                        name: '宝马',
                        ctime: new Date()
                    },
                    {
                        id: 3,
                        name: 'SUV',
                        ctime: new Date()
                    }
                ]
            },
            methods: {
                add() {
                    // console.log('click');
                    var str = {
                        id: this.id,
                        name: this.name,
                        ctime: new Date()
                    }
                    this.list.push(str)
                    this.id = this.name = ''
                },
                /*第一种方式some查询字符串位置并删除
                delet(id){
                    this.list.some((outlist,i) => {
                        if(outlist.id == id){
                            this.list.splice(i,1)
                            return true;
                        }
                    })
                },*/
                //findIndex方式定位，区别在于findIndex只能定位，而some可以做很多的其他操作
                delet(id) {
                    var con = this.list.findIndex(outlist => {
                        if (outlist.id == id) {
                            return true;
                        }
                    })
                    // console.log(con)
                    this.list.splice(con, 1)
                },
                /*使用forEach遍历list
                search(key_words){
                    var newList = []
                    this.list.forEach(element => {//这里element没有名字限制，相当于element in list
                        if(element.name.indexOf(key_words) != -1){
                            newList.push(element)
                        }
                    });
                    return newList
                },*/

                /*使用filter遍历list
                */
                search(key_words){
                    return this.list.filter(item => {
                        if(item.name.includes(key_words)){
                            return item
                        }
                    })
                }
            },
            filters:{

            }
        });
    </script>
</body>
    
</html>