<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>评论</title>
    <script src="../scripts/vue-2.4.0.js"></script>
    <link rel="stylesheet" href="../styles/bootstrap-3.3.7.css">
    <style>
        #tmp1 {
            width: 50%;
            margin-left: 10px;
        }

        #app {
            margin-top: 20px;
            width: 50%;
            margin-left: 10px;
        }
    </style>
</head>

<body>
    <div id="app">
        <mycom @fufun="updatecomment()"></mycom>

        <ul class="list-group">
            <li class="list-group-item" v-for="item in list" :key="item.id">
                <span class="badge">{{item.name}}</span>
                {{item.content}}
            </li>
        </ul>

    </div>

    <template id="tmp1">
        <div>
            <div class="form-group">
                <label>评论人：</label>
                <input type="text" placeholder="请输入评论人名" class="form-control" v-model="name">
            </div>
            <div class="form-group">
                <label>评论内容：</label>
                <textarea placeholder="请在这里输入评论内容" class="form-control" v-model="content"></textarea>
            </div>
            <input type="button" value="添加" @click="postcomment" class="btn btn-primary">
            <br>

        </div>

    </template>


    <script>

        var commentbox = {
            template: '#tmp1',
            data() {
                return {
                    name: '',
                    content: ''
                }
            },
            methods: {
                postcomment() {
                    var list = JSON.parse(localStorage.getItem('cmt') || '[]')
                    var comment = { id: Date.now(), name: this.name, content: this.content }
                    if (this.name ==='' && this.content === '') {
                        alert('请输入评论！')
                    } else {
                        list.unshift(comment)
                        localStorage.setItem('cmt', JSON.stringify(list))
                        this.name = this.content = ''
                        this.$emit('fufun')
                    }
                }
            }
        }

        var vm = new Vue({
            el: '#app',
            data: {
                list: [
                    { id: Date.now(), name: '江小白', content: '挪威的森林' },
                    { id: Date.now(), name: '仙品', content: '绮罗玉' },
                    { id: Date.now(), name: '小舞', content: '泰坦巨猿' },
                ]
            },
            created() {
                this.updatecomment()
            },
            methods: {
                updatecomment(){
                    var nlist = JSON.parse(localStorage.getItem('cmt')||'[]')                    
                    this.list = nlist
                }
            },
            components: {
                mycom: commentbox
            }
        })
    </script>
</body>

</html>