@charset "UTF-8";
/* 字体颜色 */

$white:#ffffff;
$black:#3C4353;
$grey:#717171;
$grey02:#838A9D;
$grey03:#909399;
$grey04:#C0C4CC;
/* $blue:#0C64EB; */
$blue:#3E91F9;
$red:#FF5D5D;
$yellow:#FF9800;
$green:#43A047;

$border-grey01:#DCDCDC;
$border-grey02:#E4E7ED;
$border-grey03:#EBEEF5;
$border-grey04:#F2F6FC;
/* 背景颜色 */
$bg:#ffffff; //总体背景
/* $bg_blue:#0C64EB; */
$bg_blue:#3E91F9;
$bg_white:#ffffff;
$bg_black:#3C4353;
$bg_grey:#efefef;
$bg_red:#FF5D5D;
$bg_yellow:#FF9800;
$bg_green:#43A047;

/* 字体大小 */
$fs_10:10px;
$fs_11:11px;
$fs_12:12px;
$fs_13:13px;
$fs_14:14px;
$fs_15:15px;
$fs_16:16px;
$fs_17:17px;
$fs_18:18px;
$fs_19:19px;
$fs_20:20px;
$fs_21:21px;
$fs_22:22px;
$fs_23:23px;
$fs_24:24px;
$fs_25:25px;
$fs_26:26px;
$fs_27:27px;
$fs_28:28px;
$fs_29:29px;
$fs_30:30px;
$gap1:5px;
$gap2:10px;
$gap3:15px;
$gap4:20px;