<!--
 * @Author: Lyle
 * @Date: 2019-08-26 17:04:31
 * @LastEditors: Lyle
 * @LastEditTime: 2020-05-28 09:56:57
 * @Description: 
--> 
<!DOCTYPE html>
<html lang="Zh-cn">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<!-- <script src="../node_modules/bootstrap/dist/css/bootstrap.css"></script> -->
	<!-- <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css"> -->
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
	<div id="app">
		<app>{{msg1}}</app>
	</div>
	<!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
	<script src="https://code.jquery.com/jquery.js"></script>
	<!-- 包括所有已编译的插件 -->
	<script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

<el-cascader
	v-if="cascaderVisible"
	placeholder="请选择工艺"
	clearable
	v-model="updateForm.technologyId"
	:show-all-levels="false"
	:props="{
		expandTrigger: 'click',
		lazy: true,
		lazyLoad: loadTechnologyUpdate,
		emitPath: false,
	}"
	@change="divVisible = false"
>
</el-cascader>
<div v-if="divVisible" class="cascaderDiv fs_12">
	{{ updateForm.technologyName }}
</div>
</body>

</html>
